package {{apiPackage}}.oauth;

import org.junit.AfterClass;
import org.junit.BeforeClass;
import static org.junit.Assert.*;

/**
 *
 */
{{>generatedAnnotation}}
public abstract class ClientServerOAuthTest {

    @BeforeClass
    public static void initService() throws Exception {

    }

    @AfterClass
    public static void stopService() throws Exception {

    }


}